<%-include("partials/header")-%>
    <div class="bg-lime-400 rounded-lg text-center w-36 mx-auto p-2 mt-6 shadow-lg transition-all ease-in-out hover:-translate-all hover:scale-110 hover:bg-lime-500 duration-75">
        <a href="/<%=product%>"><button class="tracking">PRODUCT</button></a>
    </div>
    <div class="bg-lime-400 rounded-lg text-center w-36 mx-auto p-2 mt-6 shadow-lg transition-all ease-in-out hover:-translate-all hover:scale-110 hover:bg-lime-500 duration-75">
        <a href="/<%=category%>"><button class="tracking">CATEGORY</button></a>
    </div>
    <div class="bg-lime-400 rounded-lg text-center w-36 mx-auto p-2 mt-6 shadow-lg transition-all ease-in-out hover:-translate-all hover:scale-110 hover:bg-lime-500 duration-75">
        <a href="/<%=brand%>"><button class="tracking">BRAND</button></a>
    </div>
    <div class="bg-lime-400 rounded-lg text-center w-36 mx-auto p-2 mt-6 shadow-lg transition-all ease-in-out hover:-translate-all hover:scale-110 hover:bg-lime-500 duration-75">
        <a href="/<%=customer%>"><button class="tracking" >CUSTOMER</button></a>
    </div>
    <div class="bg-lime-400 rounded-lg text-center w-36 mx-auto p-2 mt-6 shadow-lg transition-all ease-in-out hover:-translate-all hover:scale-110 hover:bg-lime-500 duration-75">
        <a href="/<%=order%>"><button class="tracking" >ORDER</button></a>
    </div>
    <div class="bg-lime-400 rounded-lg text-center w-36 mx-auto p-2 mt-6 shadow-lg transition-all ease-in-out hover:-translate-all hover:scale-110 hover:bg-lime-500 duration-75">
        <a href="/<%=orderitem%>"><button class="tracking">ORDER ITEM</button></a>
    </div>
    <div class="bg-lime-400 rounded-lg text-center w-36 mx-auto p-2 mt-6 shadow-lg transition-all ease-in-out hover:-translate-all hover:scale-110 hover:bg-lime-500 duration-75">
        <a href="/<%=review%>"><button class="tracking">REVIEW</button></a>
    </div>
    <div class="bg-lime-400 rounded-lg text-center w-36 mx-auto p-2 mt-6 shadow-lg transition-all ease-in-out hover:-translate-all hover:scale-110 hover:bg-lime-500 duration-75">
        <a href="/<%=payment%>"><button PAYMENT class="tracking">PAYMENT</button></a>
    </div>
    <%-include("partials/footer")-%>