<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>E-Commerce</title>
</head>

<body>

    <table class="content-table">
        <thead>
            <tr>
                <th>
                    PaymentID
                </th>
                <th>
                    CustomerID
                </th>
                <th>
                    PaymentDate
                </th>
                <th>
                    PaymentMethod
                </th>
                <th>
                    Amount
                </th>
                <th>
                    OrderID
                </th>
            </tr>
        </thead>
        <tbody>
            <% for(var i=0;i<data.length;i++){ %>
                <tr>
                    <td>
                        <%=data[i].PaymentID%>
                    </td>
                    <td>
                        <%=data[i].CustomerID%>
                    </td>
                    <td>
                        <%=data[i].PaymentDate%>
                    </td>
                    <td>
                        <%=data[i].PaymentMethod%>
                    </td>
                    <td>
                        <%=data[i].Amount%>
                    </td>
                    <td>
                        <%=data[i].OrderID%>
                    </td>

                </tr>

                <%}%>

        </tbody>

    </table>

</body>

</html>